.primary-text {
  color: #81d125;
}

.secondary-text {
  color: #fa6920;
}

.current {
  text-decoration: underline;
  -webkit-text-decoration-color: #fa6920;
          text-decoration-color: #fa6920;
}
.current:hover {
  -webkit-text-decoration-color: #81d125;
          text-decoration-color: #81d125;
}

.lead {
  font-size: larger;
  padding: 2rem;
  color: #848484;
}

#header-inner .container {
  background: #333;
  border-bottom: 1px solid #81d125;
}
#header-inner .container #inner-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
}
#header-inner .container #inner-nav ul {
  display: flex;
  text-align: center;
  padding-right: 1rem;
}
#header-inner .container #inner-nav ul li {
  padding: 0.3rem;
  font-size: 1.3rem;
}
#header-inner .container #inner-nav ul li a {
  color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
}
#header-inner .container #inner-nav ul li a:hover {
  color: #fa6920;
  background: rgba(163, 163, 163, 0.3);
}
#header-inner .container #inner-nav img {
  height: 30px;
  width: 250px;
  padding-left: 1rem;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  background: #aeaeae;
}
#footer .container img {
  height: 30px;
  width: 250px;
  padding: 0.5rem 1rem;
}
#footer .container h3 {
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
  padding: 1rem 8rem 0 0;
  color: #333;
}
#footer .container .social {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin-right: 1rem;
  padding: 0 0.8rem;
}
#footer .container .social i {
  color: #333;
  padding-right: 1rem;
}
#footer .container .social i:hover {
  color: #fa6920;
}

@media (max-width: 900px) {
  #header-home .container #main-nav {
    align-items: center;
    flex-direction: column-reverse;
  }
  #header-home .container #main-nav ul {
    background: #333;
    width: 100%;
    border-bottom: 1px solid #81d125;
  }
  #work .bush-container {
    flex-direction: column;
  }
  #work .bush-container i {
    display: none;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .container form .text-fields {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #header-home .container #main-nav ul li a {
    font-size: large;
    padding: 0;
  }
  #header-home .container .header-content {
    margin-top: 20rem;
  }
  #header-home .container .header-content h1 {
    font-size: larger;
  }
  #header-inner .container #inner-nav {
    flex-direction: column;
    align-items: center;
  }
  #header-inner .container #inner-nav img {
    padding-bottom: 1rem;
  }
  #header-inner .container #inner-nav ul {
    padding-right: 0;
    margin: 0;
  }
  #footer .container {
    flex-direction: column;
    align-items: center;
  }
  #footer .container img {
    padding: 0.5rem 0 0.5rem 1rem;
  }
  #footer .container h3 {
    padding: 1rem;
  }
  #footer .container .social {
    padding: 0.5rem 0.7rem 0.5rem 0;
    align-items: center;
  }
  #services .container {
    flex-direction: column;
    align-items: center;
  }
  #services .container .service {
    width: 100%;
  }
  #services-2 .container {
    flex-direction: column;
    align-items: center;
  }
  #services-2 .container .service {
    width: 100%;
  }
  #services-3 .container {
    flex-direction: column;
    align-items: center;
  }
  #services-3 .container .service {
    width: 100%;
  }
  #contact .container {
    align-items: center;
  }
  #contact .container div img {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

#header-home {
  background: url(/img/lawn1.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#header-home .mask {
  content: "";
  display: block;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
#header-home .container {
  color: #fff;
  z-index: 5;
}
#header-home .container #main-nav {
  display: flex;
  justify-content: space-between;
}
#header-home .container #main-nav img {
  height: 100%;
  width: 315px;
  padding: 1rem;
}
#header-home .container #main-nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-shadow: 1px 1px #333;
}
#header-home .container #main-nav ul li {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
#header-home .container #main-nav ul a {
  color: #fff;
  padding: 0.2rem;
}
#header-home .container #main-nav ul a:hover {
  color: #fa6920;
  background: rgba(163, 163, 163, 0.3);
  border-radius: 5px;
}
#header-home .container .header-content {
  text-align: center;
  height: 100%;
  margin: 0rem;
  padding-top: 28rem;
  font-size: 2rem;
}

#services {
  text-align: center;
  padding: 2rem;
  background: #e6e6e6;
  color: #e6e6e6;
}
#services h2 {
  padding: 2rem;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}
#services p {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  color: #2d2d2d;
}
#services .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
#services .container .service {
  background: #848484;
  margin: 1rem;
  border: 1px solid #fa6920;
  border-radius: 15px;
}
#services .container .service i {
  padding: 1.2rem 0;
}
#services .container .service h4 {
  font-size: x-large;
  padding: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #81d125;
          text-decoration-color: #81d125;
}
#services .container .service p {
  font-size: 1.2rem;
  padding: 1rem 2rem 3rem 2rem;
}
#services-2 {
  text-align: center;
  background: #848484;
  color: #848484;
}
#services-2 h2 {
  font-size: 1.7rem;
}
#services-2 p {
  color: #2d2d2d;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
}
#services-2 .container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
}
#services-2 .container .service {
  background: #e6e6e6;
  color: #848484;
  margin: 1rem;
  border: 2px solid #81d125;
  border-radius: 15px;
}
#services-2 .container .service i {
  padding: 1.2rem 0;
}
#services-2 .container .service h4 {
  font-size: x-large;
  text-decoration: underline;
  -webkit-text-decoration-color: #fa6920;
          text-decoration-color: #fa6920;
}
#services-2 .container .service p {
  font-size: 1.2rem;
  padding: 1rem 2rem 3rem 2rem;
}
#services-3 {
  text-align: center;
  padding: 2rem;
  background: #e6e6e6;
  color: #333;
}
#services-3 h2 {
  font-size: 1.7rem;
}
#services-3 p {
  color: #2d2d2d;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
}
#services-3 .container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
#services-3 .container .service {
  background: #aeaeae;
  color: #e6e6e6;
  margin: 1rem;
  border: 2px solid #fa6920;
  border-radius: 15px;
}
#services-3 .container .service i {
  padding: 1.2rem 0;
}
#services-3 .container .service h4 {
  font-size: x-large;
  text-decoration: underline;
  -webkit-text-decoration-color: #81d125;
          text-decoration-color: #81d125;
}
#services-3 .container .service p {
  font-size: 1.2rem;
  padding: 1rem 2rem 3rem 2rem;
}

#work {
  text-align: center;
  padding: 2rem;
  background: #e6e6e6;
  color: #2d2d2d;
}
#work h2 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}
#work p {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  color: #2d2d2d;
}
#work .bush-container {
  display: flex;
  justify-content: space-evenly;
}
#work .bush-container h4 {
  color: #848484;
  font-size: larger;
  padding-bottom: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #fa6920;
          text-decoration-color: #fa6920;
}
#work .bush-container img {
  height: 100%;
  width: 100%;
  max-height: 275px;
  max-width: 475px;
  border: 1px solid #81d125;
  border-radius: 10px;
  margin-bottom: 3rem;
}
#work .bush-container i {
  padding-top: 7rem;
}

#contact {
  text-align: center;
  align-items: center;
  padding: 2rem;
  background: #e6e6e6;
  color: #2d2d2d;
}
#contact h2 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}
#contact p {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  color: #2d2d2d;
}
#contact .second-p {
  font-size: large;
}
#contact .container {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
#contact .container form .text-field input {
  width: 96%;
  height: 2rem;
  margin: 1rem 0;
  border: 1px solid #81d125;
  border-radius: 5px;
}
#contact .container form .text-field input::-moz-placeholder {
  color: #333;
  padding-left: 0.5rem;
  font-weight: bold;
}
#contact .container form .text-field input:-ms-input-placeholder {
  color: #333;
  padding-left: 0.5rem;
  font-weight: bold;
}
#contact .container form .text-field input::placeholder {
  color: #333;
  padding-left: 0.5rem;
  font-weight: bold;
}
#contact .container form .text-field textarea {
  width: 96%;
  height: 6rem;
  margin: 1rem 0;
  border: none;
  border: 1px solid #81d125;
  border-radius: 5px;
}
#contact .container form .text-field textarea::-moz-placeholder {
  color: #333;
  padding: 0.5rem;
  font-weight: bold;
}
#contact .container form .text-field textarea:-ms-input-placeholder {
  color: #333;
  padding: 0.5rem;
  font-weight: bold;
}
#contact .container form .text-field textarea::placeholder {
  color: #333;
  padding: 0.5rem;
  font-weight: bold;
}
#contact .container form button[type=submit] {
  width: 60%;
  height: 32px;
  font-weight: bold;
  color: black;
  background-color: #81d125;
  border: 1px solid #fa6920;
  border-radius: 5px;
}
#contact .container div {
  padding: 1rem;
}
#contact .container div img {
  height: 400px;
  width: 600px;
  border: 1px solid #fa6920;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */